._uiComponent_shareClassesList {
  width: 100%;
  margin-bottom: 24px;

  > thead {
    > tr {
      > td {
        font-weight: 600;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        line-height: 24px;
        color: #999;
        padding-bottom: 8px;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        border-bottom: 1px solid #eee;
        font-size: 14px;
        padding: 16px 0;

        &:first-of-type {
          color: #000;
          font-size: 16px;
          font-weight: 500;
        }

        > span {
          color: var(--colors-errorDark);
        }
      }
    }
  }
}
