.dd-wrapper {
  position: relative;
  display: inline-block;
}
.dd-header {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  box-sizing: content-box;
}
.dd-header.regular.highlighted,
.dd-header.outlined.highlighted {
  background: #475166;
  color: white;
}
.dd-header.regular.disabled,
.dd-header.outlined.disabled {
  opacity: 0.5;
  cursor: default;
}
.dd-header.outlined {
  background: #ffffff;
  /* Base/400 */
  border: 1px solid #c2c4cc;
  border-radius: 4px;
}
.dd-header.regular {
  background: #f0f0f2;
  border-radius: 3px;
}
.dd-list {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2),
    0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 3px;
  padding: 8px 0;
  margin: 4px 0px;
  max-height: 300px;
  overflow: auto;
  white-space: nowrap;
}
.dd-list-item {
  display: flex;
  cursor: pointer;
  padding: 4px 12px;
}
.dd-list-item .checkbox {
  padding-right: 11px;
}
.dd-list-item.selected {
  background: #f8f8f9;
}
.dd-closing-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
