# Container
NODE_ENV=development
PORT=3000
LOG_LEVEL=info
LOG_PRETTY_PRINT=true
EXPORT_DOCS=true
ENABLE_SWAGGER=true

# Database
DB_ENABLE=true
DB_HOST=token-db
DB_PORT=5432
DB_DATABASE_NAME=token
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_LOGGING=false
DB_SYNCHRONIZE=false
DB_AUTO_MIGRATIONS=true

# Orchestrate
ORCHESTRATE_URL=http://api:8081
ORCHESTRATE_KAFKA_URL=kafka:9092
ORCHESTRATE_CHAIN_NAME=dev
ORCHESTRATE_FILTER_FLAG=local
BLOCKCHAIN_URL=http://ganache:8545

# Kafka
KAFKA_ENABLE=true
KAFKA_GROUP_ID=token-api
KAFKA_CLIENT_ID=token-api
KAFKA_BROKER=kafka:9092
KAFKA_CONSUMER_SUBSCRIBE_FROM_BEGINNING=false
SCHEMA_REGISTRY_HOST=http://schema-registry:8081

# Authentication
AUTH_ACCEPTED_AUDIENCE=https://api.codefi.network
AUTH_CUSTOM_NAMESPACE=https://api.codefi.network
AUTH_CUSTOM_ORCHESTRATE_NAMESPACE=https://api.orchestrate.network
AUTH_CHECK_PERMISSIONS_CUSTOM_CLAIM=true

# APM
ELASTIC_APM_SERVICE_NAME=token-api

# Initial Configuration
CONTRACTS_TO_REGISTER='["CodefiERC20","CodefiERC721"]'
PERFORM_INITIAL_CONFIGURATION=true
