#_route_investor_portfolio {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);

  > main {
    padding: 32px 40px;

    > div {
      margin-bottom: 24px;
    }

    > .top {
      display: flex;
      flex-direction: column;

      @media (min-width: 1050px) {
        flex-direction: row;
      }

      > .balance {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 24px;
        padding: 24px;
        margin-bottom: 24px;
        width: 100%;

        @media (min-width: 1050px) {
          width: 350px;
          margin-bottom: 0;
        }

        > h2 {
          font-weight: 500;
          color: #475166;
          margin-bottom: 4px;
        }

        > .total {
          font-weight: 500;
          font-size: 24px;
          color: #000a28;
          margin-bottom: 24px;
        }

        > ul {
          > li {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            padding: 12px 0;

            &:last-of-type {
              border-bottom: none;
            }

            > span {
              font-size: 14px;
              display: block;

              &:first-of-type {
                color: #777c8c;
              }

              &:last-of-type {
                color: #000a28;
              }
            }
          }
        }
      }

      > .graph {
        flex-grow: 1;
      }
    }

    > .dataView {
      > header {
        font-weight: 600;
        padding: 16px 24px;
        font-size: 20px;
        color: #1a2233;
        border-bottom: 1px solid #eee;
      }

      > .empty {
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > .img {
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgb(228, 238, 253);
          width: 80px;
          height: 80px;
          border-radius: 100px;

          > svg {
            display: block;
          }
        }

        > h2 {
          font-weight: 600;
          font-size: 20px;
          color: #777c8c;
        }

        > p {
          font-size: 14px;
          color: #475166;
        }
      }
    }
  }
}
