@keyframes uiComponent_appModal_backggroun_appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes uiComponent_appModal_slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

._uiComponent_appModal {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  justify-content: center;

  &.hidden {
    > figure {
      opacity: 0;
    }

    > div {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  > figure {
    position: absolute;
    background: rgba(0, 10, 40, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    animation: uiComponent_appModal_backggroun_appear 200ms ease-in;
    transition: opacity 200ms ease-out;
  }

  > div {
    position: relative;
    z-index: 9;
    background: #fff;
    height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    width: 100vw;
    overflow: auto;
    animation: uiComponent_appModal_slideUp 200ms ease-out;
    transition: opacity 200ms ease-out, transform 200ms ease-out;

    @media (min-width: 610px) {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      width: auto;
      min-width: auto;
      height: auto;
    }
    > .modal-header {
      display: flex;
      justify-content: space-between;
      padding: 26px 32px;
      h2 {
        font-size: var(--typography-size-f4);
        font-weight: var(--typography-weight-medium);
        margin: 0;
      }
      button {
        border: none;
        background-color: transparent;
      }
    }

    > .content {
      border-bottom: 1px solid #dfe0e5;
      border-top: 1px solid #dfe0e5;
      line-height: 150%;
      padding: 24px 32px 30px;
      &.noPadding {
        padding: 0;
      }
    }

    > footer {
      padding: 16px 32px;
      display: flex;
      justify-content: flex-end;

      > button {
        margin-left: 16px;
      }
    }
  }
}
