.tablePagination {
  margin-top: 24px;
}
.cancelButton {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
}
.clearButton {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: transparent;
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
}
.saveButton {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px 24px;
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
}
