._route_clientManagement_clientList {
  > h1 {
    font-weight: var(--typography-weight-medium);
    font-size: var(--typography-size-f3);
  }

  > p {
    font-size: var(--typography-size-f0);
    margin-bottom: var(--spacing-none);
  }
}
